/* body */

body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refKidsPage/Baby\ Natur\ Kids\ HTML\ bodyBackground.jpg);
    background-position: center;
}

/* body */

/* header */

header {
    display: block;
    width: 100%;
    height: 350px;
}

header h1 {
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    background-color: #f9e4bc5c;
    margin-top: 0;
    padding-top: 2%;
    border-bottom: 3px solid #fff;
    text-decoration: line-through;
    text-decoration-thickness: 2%;
}

/* header */

/* section header ids */

#TOPS {
    scroll-margin-top: 75px;
}

#PANTS {
    scroll-margin-top: 75px;
}

#ACCESSORIES {
    scroll-margin-top: 75px;
}

/* section header ids */

/* navbar */

nav {
    font-size: 0.9rem;
    letter-spacing: 0;
}

nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 1%;
    background-color: #e3e3e3;
    border-bottom: 3px solid #fff;
    position: fixed;
    width: 100%;
    height: 2%;
    top: 0;
    margin: 0;
    padding: 0.4% 1.5%;
}

.navTitle {
    color: #000;
    border: 1px solid #e3e3e3;
    padding: 5%;
}

.navTitle:hover {
    text-decoration: underline;
}

#personal {
    display: flex;
    position: absolute;
    right: 3%;
    margin: 0%;
    width: 25%;
    min-width: 10%;
    max-height: 20px;
    white-space: nowrap;
}

#personal a {
    width: 100%;
    margin: 0% 5%;
    padding: 0% 2%;
    color: #000;
}

#personal a:hover {
    text-decoration: underline;
}

/* navbar */

/* kids tops */

.topsBackground a {
    width: 14%;
    letter-spacing: 0.5rem;
    color: #fff;
    text-decoration: none;
}

.topsBackground a:hover {
    text-decoration: underline;
}

.topsBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.topsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.topsMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* boys red collared shirt */
.redCollaredShirtCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.redCollaredShirtCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.redCollaredShirtImg img {
    width: 500px;
    border: 2px solid #fff;
}
/* boys red collared shirt */

/* levis fashion shirt */
.levisFashionShirtCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.levisFashionShirtCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.levisFashionShirtImg img {
    width: 251px;
    border: 2px solid #fff;
}
/* levis fashion shirt */

/* boys knitted sweater */
.boysKnittedSweaterCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.boysKnittedSweaterCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.boysKnittedSweaterImg img {
    width: 502px;
    border: 2px solid #fff;
}
/* boys knitted sweater */

/* girls knitted sweater */
.girlsKnittedSweaterCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.girlsKnittedSweaterCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.girlsKnittedSweaterImg img {
    width: 224px;
    border: 2px solid #fff;
}
/* girls knitted sweater */

/* girls light green jacket */
.girlsLightGreenJacketCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.girlsLightGreenJacketCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.girlsLightGreenJacketImg img {
    width: 502px;
    border: 2px solid #fff;
}
/* girls light green jacket */

/* girls beige jacket */
.girlsBeigeJacketCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.girlsBeigeJacketCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.girlsBeigeJacketImg img {
    width: 216px;
    border: 2px solid #fff;
}
/* girls beige jacket */

/* kids tops */

/* kids pants */

.pantsBackground a {
    width: 14%;
    letter-spacing: 0.5rem;
    color: #fff;
    text-decoration: none;
}

.pantsBackground a:hover {
    text-decoration: underline;
}

.pantsBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.pantsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.pantsMainCont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* big kids pants */
.bigKidsPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bigKidsPantsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.bigKidsPantsImg img {
    width: 100%;
    border: 2px solid #fff;
}
/* big kids pants */

/* toddler pants */
.toddlerPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.toddlerPantsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.toddlerPantsImg img {
    width: 70.5%;
    border: 2px solid #fff;
}
/* toddler pants */

/* baby pants */
.babyPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.babyPantsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.babyPantsImg img {
    width: 66.5%;
    border: 2px solid #fff;
}
/* baby pants */

/* kids pants */

/* kids accessories */

.accessoriesBackground a {
    width: 14%;
    letter-spacing: 0.5rem;
    color: #fff;
    text-decoration: none;
}

.accessoriesBackground a:hover {
    text-decoration: underline;
}

.accessoriesBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.accessoriesHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.accessoriesMainCont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* baby beanies */
.babyBeaniesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.babyBeaniesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.babyBeaniesImg img {
    width: 600px;
    border: 2px solid #fff;
}
/* baby beanies */

/* big kids trapper hat */
.bigKidsTrapperHatCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.bigKidsTrapperHatCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.bigKidsTrapperHatImg img {
    width: 571px;
    border: 2px solid #fff;
}
/* big kids trapper hat */

/* pink happy backpack */
.pinkHappyBackpackCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pinkHappyBackpackCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.pinkHappyBackpackImg img {
    width: 599px;
    border: 2px solid #fff;
}
/* pink happy backpack */

/* mint backpack */
.mintBackpackCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.mintBackpackCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.mintBackpackImg img {
    width: 601px;
    border: 2px solid #fff;
}
/* mint backpack */

/* black and white knitted gloves */
.blkWhtKnittedGlovesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blkWhtKnittedGlovesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.blkWhtKnittedGlovesImg img {
    width: 289.5px;
    border: 2px solid #fff;
}
/* black and white knitted gloves */

/* knitted bear gloves */
.knittedBearGlovesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.knittedBearGlovesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.knittedBearGlovesImg img {
    width: 258px;
    border: 2px solid #fff;
}
/* knitted bear gloves */

/* kids accessories */

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9e4bc5c;
    border-top: 2px solid #fff;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footerContLeft {
    margin: 0% 0% 0% 1%;
    padding: 0.5% 1%;
}

.footerContRight {
    margin: 0% 1% 0% 0%;
    padding: 0.5% 1%;
}

/* footer */