/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refMenPage/Jeff\ Sheldon\ Men\ HTML\ bodyBackground.jpg);
    background-position: center;
}
/* body */

/* header */
header {
    display: block;
    width: 100%;
    height: 350px;
}

header h1 {
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    background-color: #f9e4bc5c;
    margin-top: 0;
    padding-top: 2%;
    border-bottom: 3px solid #fff;
    text-decoration: line-through;
    text-decoration-thickness: 2%;
}
/* header */

/* section header ids */
#TOPS {
    scroll-margin-top: 75px;
}

#PANTS {
    scroll-margin-top: 75px;
}

#ACCESSORIES {
    scroll-margin-top: 75px;
}
/* section header ids */

/* navbar */
nav {
    font-size: 0.9rem;
    letter-spacing: 0;
}

nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 1%;
    background-color: #e3e3e3;
    border-bottom: 3px solid #fff;
    position: fixed;
    width: 100%;
    height: 2%;
    top: 0;
    margin: 0;
    padding: 0.4% 1.5%;
}

.navTitle {
    color: #000;
    border: 1px solid #e3e3e3;
    padding: 5%;
}

.navTitle:hover {
    text-decoration: underline;
}

#personal {
    display: flex;
    position: absolute;
    right: 45px;
    width: 25%;
    white-space: nowrap;
}

#personal a {
    width: 100%;
    margin: 0% 5%;
    padding: 0% 2%;
    color: #000;
}

#personal a:hover {
    text-decoration: underline;
}
/* navbar */

/* buy container */
.buyContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buyContainer h4 {
    color: #fff;
}

.buyContainer a {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #000;
    background-color: #e3e3e3e8;
    text-decoration: none;
}

.buyContainer a:hover {
    text-decoration: underline;
}
/* buy container */

/* men tops */
.topsBackground {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    background-color: #00000055;
}

.topsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 40px;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.topsMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2%;
    margin: 0 40px 40px 40px;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* tops images */
.topsContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topsContentContainer h3 {
    color: #000;
    background-color: #f9e4bc5c;
    padding: 5px;
    border: 2px solid #fff
}

.topsContentContainerImgs img {
    width: 328px;
    height: 500px;
    border: 2px solid #fff;
}
/* tops images */

/* tops images custom  */
.heartBreakImgCustom img {
    width: 340px;
    height: 500px;
    border: 2px solid #fff;
}
/* tops images custom */
/* men tops */

/* men pants */
.pantsBackground {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    background-color: #00000055;
}

.pantsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 40px;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.pantsMainCont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 100%;
    gap: 2%;
    margin: 0 40px 40px 40px;
    padding: 2%;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* pants images */
.pantsContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pantsContentContainer h3 {
    color: #000;
    background-color: #f9e4bc5c;
    padding: 5px;
    border: 2px solid #fff
}

.pantsContentContainerImgs img {
    width: 650px;
    height: 400px;
    border: 2px solid #fff;
}
/* pants images */
/* men pants */

/* men accessories */
.accessoriesBackground {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    background-color: #00000055;
}

.accessoriesHeader {
    font-size: 5rem;
    width: 100%;
    margin: 40px;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.accessoriesMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2%;
    margin: 0 40px 40px 40px;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* accessories images */
.accessoriesContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.accessoriesContentContainer h3 {
    color: #000;
    background-color: #f9e4bc5c;
    padding: 5px;
    border: 2px solid #fff
}

/* Width */
.accessoriesContentContainerImgsW img {
    width: 500px;
    height: 350px;
    border: 2px solid #fff;
}
/* Width */

/* Height */
.accessoriesContentContainerImgsH img {
    width: 300px;
    height: 350px;
    border: 2px solid #fff;
}
/* Height */

/* Custom */
.customW img {
    width: 500px;
    height: 329px;
    border: 2px solid #fff;
}

.customH img {
    width: 300px;
    height: 329px;
    border: 2px solid #fff;
}
/* Custom */
/* accessories images */
/* men accessories */

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9e4bc5c;
    border-top: 2px solid #fff;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footerContLeft {
    margin: 0% 0% 0% 1%;
    padding: 0.5% 1%;
}

.footerContRight {
    margin: 0% 1% 0% 0%;
    padding: 0.5% 1%;
}
/* footer */

/* media */
/* Container Utility */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
}
/* Container Utility */

/* 2XL */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}
/* 2XL */

/* XL */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
        /* border: 2px solid red; */
    }

    header {
        height: 300px;
    }

    header h1 {
        font-size: 10rem;
    }

    #personal {
        right: 70px;
    }

    .topsHeader {
        font-size: 4.5rem;
    }

    .topsContentContainerImgs img {
        width: 300px;
        height: 450px;
    }

    .heartBreakImgCustom img {
        width: 310px;
        height: 450px;
    }

    .pantsHeader {
        font-size: 4.5rem;
    }

    .pantsContentContainerImgs img {
        width: 400px;
        height: 250px;
    }

    .accessoriesHeader {
        font-size: 4.5rem;
    }

    .accessoriesContentContainerImgsW img {
    width: 450px;
    height: 300px;
    border: 2px solid #fff;
    }

    .accessoriesContentContainerImgsH img {
    width: 250px;
    height: 300px;
    border: 2px solid #fff;
    }

    .customW img {
    width: 450px;
    height: 279px;
    border: 2px solid #fff;
    }

    .customH img {
    width: 300px;
    height: 279px;
    border: 2px solid #fff;
    }

    footer {
        font-size: 0.8rem;
    }
}
/* XL */

/* L */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
        /* border: 2px solid yellow; */
    }

    header {
        height: 275px;
    }

    header h1 {
        font-size: 9rem;
    }

    .navTitle {
        padding: 2%;
    }

    #personal {
        right: 100px;
    }

    .buyContainer {
        margin-bottom: 20px;
        border-bottom: 1px solid #fff;
    }

    .topsHeader, .pantsHeader, .accessoriesHeader {
        font-size: 4rem;
    }

    .topsMainCont, .pantsMainCont, .accessoriesMainCont {
        flex-direction: column;
    }
}
/* L */

/* M */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
        border: 2px solid green;
    }
}
/* M */

/* S */
@media (max-width: 640px) {
    .container {
        max-width: 1280px;
        border: 2px solid blue;
    }
}
/* S */

/* XS */
@media (max-width: 475px) {
    .container {
        max-width: 100%;
    }
}
/* XS */
/* media */