/* body */

body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
}

/* body */

/* header */

header {
    display: block;
    width: 100%;
    height: 350px;
}

header h1 {
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    background-color: #f9e4bc5c;
    margin-top: 0;
    padding-top: 2%;
    border-bottom: 3px solid #fff;
    text-decoration: line-through;
    text-decoration-thickness: 2%;
}

/* header */

/* navbar */

nav {
    font-size: 0.9rem;
    letter-spacing: 0;
}

nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 1%;
    background-color: #e3e3e3;
    border-bottom: 3px solid #fff;
    position: fixed;
    width: 100%;
    height: 2%;
    top: 0;
    margin: 0;
    padding: 0.4% 1.5%;
}

.navTitle {
    color: #000;
    border: 1px solid #e3e3e3;
    padding: 5%;
}

.navTitle:hover {
    text-decoration: underline;
}

#personal {
    display: flex;
    position: absolute;
    right: 3%;
    margin: 0%;
    width: 25%;
    min-width: 10%;
    max-height: 20px;
    white-space: nowrap;
}

#personal a {
    width: 100%;
    margin: 0% 5%;
    padding: 0% 2%;
    color: #000;
}

#personal a:hover {
    text-decoration: underline;
}

/* navbar */

/* h4 */
h4 {
    color: #fff;
    font-weight: lighter;
    letter-spacing: 0.5rem;
}
/* h4 */

/* style page */
.styleBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.styleHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.styleMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* body background */
.styleBodyBackgroundCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleBodyBackgroundCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleBodyBackgroundImg img {
    width: 500px;
    border: 2px solid #fff;
}
/* body background */

/* men tops */
.styleMenTopsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleMenTopsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleMenTopsImg img {
    width: 471px;
    border: 2px solid #fff;
}
/* men tops */

/* men pants */
.styleMenPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleMenPantsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleMenPantsImg img {
    width: 224px;
    border: 2px solid #fff;
}
/* men pants */

/* men accessories */
.styleMenAccessoriesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleMenAccessoriesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleMenAccessoriesImg img {
    width: 211px;
    border: 2px solid #fff;
}
/* men accessories */

/* women tops */
.styleWomenTopsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleWomenTopsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleWomenTopsImg img {
    width: 500px;
    border: 2px solid #fff;
}
/* women tops */

/* women pants */
.styleWomenPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleWomenPantsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleWomenPantsImg img {
    width: 500px;
    border: 2px solid #fff;
}
/* women pants */

/* women accessories */
.styleWomenAccessoriesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleWomenAccessoriesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleWomenAccessoriesImg img {
    width: 237px;
    border: 2px solid #fff;
}
/* women accessories */

/* kids tops */
.styleKidsTopsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleKidsTopsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleKidsTopsImg img {
    width: 500px;
    border: 2px solid #fff;
}
/* kids tops */

/* kids pants */
.styleKidsPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleKidsPantsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleKidsPantsImg img {
    width: 500px;
    border: 2px solid #fff;
}
/* kids pants */

/* kids accessories */
.styleKidsAccessoriesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.styleKidsAccessoriesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.styleKidsAccessoriesImg img {
    width: 211px;
    border: 2px solid #fff;
}
/* kids accessories */

/* style page */

/* men page */
.menBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.menHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.menMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* body background */
.menBodyBackgroundCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menBodyBackgroundCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menBodyBackgroundImg img {
    width: 300px;
    border: 2px solid #fff;
}
/* body background */

/* heartbreak shirt */
.menHeartbreakShirtCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menHeartbreakShirtCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menHeartbreakShirtImg img {
    width: 256px;
    border: 2px solid #fff;
}
/* heartbreak shirt */

/* black shirt */
.menBlackShirtCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menBlackShirtCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menBlackShirtImg img {
    width: 258px;
    border: 2px solid #fff;
}
/* black shirt */

/* white shirt */
.menWhiteShirtCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menWhiteShirtCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menWhiteShirtImg img {
    width: 275px;
    border: 2px solid #fff;
}
/* white shirt */

/* beige hoodie */
.menBeigeHoodieCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menBeigeHoodieCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menBeigeHoodieImg img {
    width: 272px;
    border: 2px solid #fff;
}
/* beige hoodie */

/* its clothing hoodie */
.menItsClothingHoodieCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menItsClothingHoodieCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menItsClothingHoodieImg img {
    width: 272px;
    border: 2px solid #fff;
}
/* its clothing hoodie */

/* denim jacket */
.menDenimJacketCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menDenimJacketCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menDenimJacketImg img {
    width: 259px;
    border: 2px solid #fff;
}
/* denim jacket */

/* navy knitted sweater */
.menNavyKnittedSweaterCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menNavyKnittedSweaterCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menNavyKnittedSweaterImg img {
    width: 307px;
    border: 2px solid #fff;
}
/* navy knitted sweater */

/* black puffer jacket */
.menBlackPufferJacketCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menBlackPufferJacketCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menBlackPufferJacketImg img {
    width: 324px;
    border: 2px solid #fff;
}
/* black puffer jacket */

/* 501 Levis */
.menLevis501Cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menLevis501Cont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menLevis501Img img {
    width: 692px;
    border: 2px solid #fff;
}
/* 501 Levis */

/* 510 Levis */
.menLevis510Cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menLevis510Cont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menLevis510Img img {
    width: 507px;
    border: 2px solid #fff;
}
/* 510 Levis */

/* ice cream cap */
.menIceCreamCapCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menIceCreamCapCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menIceCreamCapImg img {
    width: 596px;
    border: 2px solid #fff;
}
/* ice cream cap */

/* beanies */
.menBeaniesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menBeaniesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menBeaniesImg img {
    width: 258px;
    border: 2px solid #fff;
}
/* beanies */

/* virgin mary necklace */
.menVirginMaryNecklaceCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menVirginMaryNecklaceCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menVirginMaryNecklaceImg img {
    width: 596px;
    border: 2px solid #fff;
}
/* virgin mary necklace */

/* gold necklace */
.menGoldNecklaceCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menGoldNecklaceCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menGoldNecklaceImg img {
    width: 290px;
    border: 2px solid #fff;
}
/* gold necklace */

/* seiko speedtimer SSC813 */
.menSeikoSpeedtimerSSC813Cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menSeikoSpeedtimerSSC813Cont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menSeikoSpeedtimerSSC813Img img {
    width: 597px;
    border: 2px solid #fff;
}
/* seiko speedtimer SSC813 */

/* seiko sarb033 */
.menSeikoSarb033Cont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.menSeikoSarb033Cont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.menSeikoSarb033Img img {
    width: 508px;
    border: 2px solid #fff;
}
/* seiko sarb033 */

/* men page */

/* women page */
.womenBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.womenHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.womenMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* women page */

/* kids page */
.kidsBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.kidsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.kidsMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* kids page */

/* footer */

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9e4bc5c;
    border-top: 2px solid #fff;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footerContLeft {
    margin: 0% 0% 0% 1%;
    padding: 0.5% 1%;
}

.footerContRight {
    margin: 0% 1% 0% 0%;
    padding: 0.5% 1%;
}

/* footer */