/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refHomePage/Amanda\ Vick\ bodyBackGround.jpg);
    background-position: center;
}
/* body */

/* header */
header {
    display: block;
    width: 100%;
    height: 350px;
}

header h1 {
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    background-color: #f9e4bc5c;
    margin-top: 0;
    padding-top: 2%;
    border-bottom: 1px solid #fff;
    text-decoration: line-through;
    text-decoration-thickness: 2%;
}
/* header */

/* navbar */
nav {
    font-size: 0.9rem;
    letter-spacing: 0;
}

nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 1%;
    background-color: #e3e3e3;
    border-bottom: 2px solid #fff;
    position: fixed;
    width: 100%;
    height: 2%;
    top: 0;
    margin: 0;
    padding: 0.4% 1.5%;
}

.navTitle {
    color: #000;
    border: 1px solid #e3e3e3;
    padding: 5%;
}

.navTitle:hover {
    text-decoration: underline;
}

#personal {
    display: flex;
    position: absolute;
    right: 45px;
    width: 25%;
    white-space: nowrap;
}

#personal a {
    width: 100%;
    margin: 0% 5%;
    padding: 0% 2%;
    color: #000;
}

#personal a:hover {
    text-decoration: underline;
}
/* navbar */

/* men section */
.MEN {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 0 40px 0;
    background-color: #00000055;
}

.MEN a {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 0;
    text-decoration: none;
    border: 1px solid #fff;
}

.MEN a:hover {
    text-decoration: underline;
    background-color: #e3e3e3;
}

.menHeader {
    font-size: 5rem;
    width: 100%;
    margin: 30px 0;
    background-color: #f9e4bc5c;
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}
/* men content container */
.menContentContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* men content container */

/* men tops */
.menTopsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.menTopsImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* men tops */

/* men pants */
.menPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 25%;
}

.menPantsImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* men pants */

/* men accessories */
.menAccessoriesCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 22%;
}

.menAccessoriesImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* men accessories */
/* men section */

/* women section */
.WOMEN {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 0 40px 0;
    background-color: #00000055;
}

.WOMEN a {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 0;
    text-decoration: none;
    border: 1px solid #fff;
}

.WOMEN a:hover {
    text-decoration: underline;
    background-color: #e3e3e3;
}

.womenHeader {
    font-size: 5rem;
    width: 100%;
    margin: 30px 0;
    background-color: #f9e4bc5c;
    border: 1px solid #fff;
}

/* women content container */
.womenContentContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* women content container */

/* women tops */
.womenTopsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
}

.womenTopsImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* women tops */

/* women pants */
.womenPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    margin: 0% 2.4%;
}

.womenPantsImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* women pants */

/* women accessories */
.womenAccessoriesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 20%;
}

.womenAccessoriesImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* women accessories */
/* women section */

/* kids section */
.KIDS {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 40px;
    padding: 0 0 40px 0;
    background-color: #00000055;
}

.KIDS a {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 20px;
    font-size: 2.2rem;
    font-weight: bolder;
    letter-spacing: 0;
    text-decoration: none;
    border: 1px solid #fff;
}

.KIDS a:hover {
    text-decoration: underline;
    background-color: #e3e3e3;
}

.kidsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 30px 0;
    background-color: #f9e4bc5c;
    border: 1px solid #fff;
}
/* kids content container */
.kidsContentContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
/* kids content container */

/* kids tops */
.kidsTopsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
}

.kidsTopsImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* kids tops */

/* kids pants */
.kidsPantsCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 30%;
    margin: 0% 2.4%;
}

.kidsPantsImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* kids pants */

/* kids accessories */
.kidsAccessoriesCont {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 20%;
}

.kidsAccessoriesImg img {
    width: 100%;
    border: 1px solid #fff;
}
/* kids accessories */
/* kids section */

/* footer */
#contact {
    border-bottom: none;
}

footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9e4bc5c;
    border-top: 2px solid #fff;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footerContLeft {
    margin: 0 0 0 10px;
    padding: 5px 10px;
}

.footerContRight {
    margin: 0 10px 0 0;
    padding: 5px 10px;
}
/* footer */

/* Media */
/* Container Utility */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
}
/* Container Utility */

/* 2XL */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}
/* 2XL */

/* XL */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
        /* border: 2px solid red; */
    }

    header {
        height: 300px;
    }

    header h1 {
        font-size: 10rem;
    }

    #personal {
        right: 70px;
    }

    .MEN a {
        font-size: 1.8rem;
    }

    .menHeader {
        font-size: 4.5rem;
    }

    .WOMEN a {
        font-size: 1.8rem;
    }

    .womenHeader {
        font-size: 4.5rem;
    }

    .KIDS a {
        font-size: 1.8rem;
    }

    .kidsHeader {
        font-size: 4.5rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
/* XL */

/* L */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
        /* border: 2px solid yellow; */
    }

    header {
        height: 275px;
    }

    header h1 {
        font-size: 9rem;
    }

    #personal {
        right: 100px;
    }

    .MEN a {
        font-size: 1.4rem;
    }

    .menHeader {
        font-size: 4rem;
    }

    .WOMEN a {
        font-size: 1.3rem;
    }

    .womenHeader {
        font-size: 4rem;
    }

    .KIDS a {
        font-size: 1.3rem;
    }

    .kidsHeader {
        font-size: 4rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
/* L */

/* M */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
        border: 2px solid green;
    }
}
/* M */

/* S */
@media (max-width: 640px) {
    .container {
        max-width: 1280px;
        border: 2px solid blue;
    }
}
/* S */

/* XS */
@media (max-width: 475px) {
    .container {
        max-width: 100%;
    }
}
/* XS */
/* Media */