/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refWomenPage/Arturo\ Rey\ Women\ HTML\ bodyBackground.jpg);
    background-position: center;
}
/* body */

/* header */
header {
    display: block;
    width: 100%;
    height: 350px;
}

header h1 {
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    background-color: #f9e4bc5c;
    margin-top: 0;
    padding-top: 2%;
    border-bottom: 3px solid #fff;
    text-decoration: line-through;
    text-decoration-thickness: 2%;
}
/* header */

/* section header ids */
#TOPS {
    scroll-margin-top: 75px;
}

#PANTS {
    scroll-margin-top: 75px;
}

#ACCESSORIES {
    scroll-margin-top: 75px;
}
/* section header ids */

/* navbar */
nav {
    font-size: 0.9rem;
    letter-spacing: 0;
}

nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 1%;
    background-color: #e3e3e3;
    border-bottom: 3px solid #fff;
    position: fixed;
    width: 100%;
    height: 2%;
    top: 0;
    margin: 0;
    padding: 0.4% 1.5%;
}

.navTitle {
    color: #000;
    border: 1px solid #e3e3e3;
    padding: 5%;
}

.navTitle:hover {
    text-decoration: underline;
}

#personal {
    display: flex;
    position: absolute;
    right: 45px;
    width: 25%;
    white-space: nowrap;
}

#personal a {
    width: 100%;
    margin: 0% 5%;
    padding: 0% 2%;
    color: #000;
}

#personal a:hover {
    text-decoration: underline;
}
/* navbar */

/* buy container */
.buyContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buyContainer h4 {
    color: #fff;
}

.buyContainer a {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #000;
    background-color: #e3e3e3e8;
    text-decoration: none;
}

.buyContainer a:hover {
    text-decoration: underline;
}
/* buy container */

/* same styles */
.topsBackground, .pantsBackground, .accessoriesBackground {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 5%;
    background-color: #00000055;
}

.topsHeader, .pantsHeader, .accessoriesHeader {
    font-size: 5rem;
    width: 100%;
    margin: 40px;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

.topsMainCont, .pantsMainCont, .accessoriesMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 100%;
    gap: 2%;
    margin: 0 40px 40px 40px;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}

.topsContentContainer, .pantsContentContainer, .accessoriesContentContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.topsContentContainer h3, .pantsContentContainer h3, .accessoriesContentContainer h3 {
    color: #000;
    background-color: #f9e4bc5c;
    padding: 5px;
    border: 2px solid #fff
}
/* same styles */

/* women tops */
/* tops images */
.topsContentContainer img {
    border: 2px solid #fff;
}

.blackCropTop img {
    width: 500px;
    height: 400px;
}

.breakAway img {
    width: 500px;
    height: 378px;
}

.denimJacket img {
    width: 300px;
    height: 378px;
}

.customTops img {
    width: 325px;
    height: 357px;
}
/* tops images */
/* women tops */

/* women pants */
.pantsMainCont {
    justify-content: space-evenly;
}

/* skinny jeans */
.skinnyJeansImg img {
    width: 425px;
    height: 525px;
    border: 2px solid #fff;
}
/* skinny jeans */

/* loose jeans */
.looseJeansImg img {
    width: 425px;
    height: 525px;
    border: 2px solid #fff;
}
/* loose jeans */
/* women pants */

/* women accessories */
.accessoriesContentContainerImgsW img {
    width: 500px;
    height: 350px;
    border: 2px solid #fff;
}

.accessoriesContentContainerImgsH img {
    width: 260px;
    height: 372px;
    border: 2px solid #fff;
}
/* women accessories */

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9e4bc5c;
    border-top: 2px solid #fff;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footerContLeft {
    margin: 0% 0% 0% 1%;
    padding: 0.5% 1%;
}

.footerContRight {
    margin: 0% 1% 0% 0%;
    padding: 0.5% 1%;
}
/* footer */

/* media */
/* Container Utility */
.container {
    max-width: 1536px;
    margin-left: auto;
    margin-right: auto;
    border: 1px solid #fff;
}
/* Container Utility */

/* 2XL */
@media (max-width: 1536px) {
    .container {
        max-width: 1280px;
    }
}
/* 2XL */

/* XL */
@media (max-width: 1280px) {
    .container {
        max-width: 1024px;
        border: 2px solid red;
    }

    header {
        height: 300px;
    }

    header h1 {
        font-size: 10rem;
    }

    #personal {
        right: 70px;
    }

    .topsHeader, .pantsHeader, .accessoriesHeader {
        font-size: 4.5rem;
    }

    footer {
        font-size: 0.8rem;
    }
}
/* XL */

/* L */
@media (max-width: 1024px) {
    .container {
        max-width: 768px;
        border: 2px solid orange;
    }

    header {
        height: 275px;
    }

    header h1 {
        font-size: 9rem;
    }

    .navTitle {
        padding: 2%;
    }

    #personal {
        right: 100px;
    }

    .buyContainer {
        margin-bottom: 20px;
        border-bottom: 1px solid #fff;
    }

    .topsHeader, .pantsHeader, .accessoriesHeader {
        font-size: 4rem;
    }

    .topsMainCont, .pantsMainCont, .accessoriesMainCont {
        flex-direction: column;
    }
}
/* L */

/* M */
@media (max-width: 768px) {
    .container {
        max-width: 640px;
        border: 2px solid yellow;
    }

    header {
        height: 250px;
    }

    header h1 {
        font-size: 8rem;
    }

    #personal {
        right: 110px;
    }

    .topsHeader, .pantsHeader, .accessoriesHeader {
        font-size: 3.5rem;
    }
}
/* M */

/* S */
@media (max-width: 640px) {
    .container {
        max-width: 1280px;
        border: 2px solid green;
    }

    header {
        height: 225px;
    }

    header h1 {
        font-size: 6.5rem;
    }

    #personal {
        right: 125px;
    }

    .topsHeader, .pantsHeader, .accessoriesHeader {
        font-size: 3rem;
    }

    .topsContentContainer h3, .pantsContentContainer h3, .accessoriesContentContainer h3 {
        font-size: 0.9rem;
    }

    footer {
        font-size: 0.7rem;
    }
}
/* S */

/* XS */
@media (max-width: 475px) {
    .container {
        max-width: 100%;
    }
}
/* XS */
/* media */