/* body */
body {
    font-size: 1rem;
    font-family: 'Times New Roman', Times, serif;
    letter-spacing: 1.2rem;
    margin: -1px;
    text-align: center;
    overflow-y: auto;
    overflow-x: hidden;
    background-image: url(./refWomenPage/Arturo\ Rey\ Women\ HTML\ bodyBackground.jpg);
    background-position: center;
}
/* body */

/* header */
header {
    display: block;
    width: 100%;
    height: 350px;
}

header h1 {
    font-size: 12rem;
    font-weight: 400;
    color: #000;
    background-color: #f9e4bc5c;
    margin-top: 0;
    padding-top: 2%;
    border-bottom: 3px solid #fff;
    text-decoration: line-through;
    text-decoration-thickness: 2%;
}
/* header */

/* section header ids */
#TOPS {
    scroll-margin-top: 75px;
}

#PANTS {
    scroll-margin-top: 75px;
}

#ACCESSORIES {
    scroll-margin-top: 75px;
}
/* section header ids */

/* navbar */
nav {
    font-size: 0.9rem;
    letter-spacing: 0;
}

nav li {
    list-style: none;
}
nav a {
    text-decoration: none;
}

.navLinks {
    display: flex;
    gap: 1%;
    background-color: #e3e3e3;
    border-bottom: 3px solid #fff;
    position: fixed;
    width: 100%;
    height: 2%;
    top: 0;
    margin: 0;
    padding: 0.4% 1.5%;
}

.navTitle {
    color: #000;
    border: 1px solid #e3e3e3;
    padding: 5%;
}

.navTitle:hover {
    text-decoration: underline;
}

#personal {
    display: flex;
    position: absolute;
    right: 45px;
    width: 25%;
    white-space: nowrap;
}

#personal a {
    width: 100%;
    margin: 0% 5%;
    padding: 0% 2%;
    color: #000;
}

#personal a:hover {
    text-decoration: underline;
}
/* navbar */

/* buy container */
.buyContainer {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.buyContainer h4 {
    color: #fff;
}

.buyContainer a {
    width: 100px;
    padding: 5px;
    font-weight: bold;
    letter-spacing: 0.5rem;
    color: #000;
    background-color: #e3e3e3e8;
    text-decoration: none;
}

.buyContainer a:hover {
    text-decoration: underline;
}
/* buy container */

/* women tops */
.topsBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.topsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.topsMainCont {
    display: flex;
    flex-wrap: nowrap;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* black crop top */
.blackCropTopCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blackCropTopCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.blackCropTopImg img {
    width: 560px;
    border: 2px solid #fff;
}
/* black crop top */

/* grey crop top */
.greyCropTopCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.greyCropTopCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.greyCropTopImg img {
    width: 239px;
    border: 2px solid #fff;
}
/* grey crop top */

/* break away today shirt */
.breakAwayTodayCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.breakAwayTodayCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.breakAwayTodayImg img {
    width: 531px;
    border: 2px solid #fff;
}
/* break away today shirt */

/* true colors shirt */
.trueColorsCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.trueColorsCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.trueColorsImg img {
    width: 241px;
    border: 2px solid #fff;
}
/* true colors shirt */

/* camp teresita pines shirt */
.campTeresitaPinesCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.campTeresitaPinesCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.campTeresitaPinesImg img {
    width: 530px;
    border: 2px solid #fff;
}
/* camp teresita pines shirt */

/* pink champion sweater */
.pinkChampionSweaterCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pinkChampionSweaterCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.pinkChampionSweaterImg img {
    width: 238px;
    border: 2px solid #fff;
}
/* pink champion sweater */

/* denim jacket */
.denimJacketCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.denimJacketCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.denimJacketImg img {
    width: 215px;
    border: 2px solid #fff;
}
/* denim jacket */
/* women tops */

/* women pants */
.pantsBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.pantsHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.pantsMainCont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* skinny jeans */
.skinnyJeansCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.skinnyJeansCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.skinnyJeansImg img {
    width: 400px;
    border: 2px solid #fff;
}
/* skinny jeans */

/* loose jeans */
.looseJeansCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.looseJeansCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.looseJeansImg img {
    width: 447px;
    border: 2px solid #fff;
}
/* loose jeans */
/* women pants */

/* women accessories */
.accessoriesBackground {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 4%;
    padding-bottom: 1%;
    background-color: #00000055;
}

.accessoriesHeader {
    font-size: 5rem;
    width: 100%;
    margin: 2% 5%;
    background-color: #f9e4bc5c;
    border: 2px solid #fff;
}

/* MAIN CONTAINER */
.accessoriesMainCont {
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-between;
    width: 90%;
    gap: 2%;
    margin: 0% 5% 1% 5%;
    padding: 2%;
    overflow-y: hidden;
    overflow-x: auto;
    background-color: #00000086;
}
/* MAIN CONTAINER */

/* gold emerald necklace */
.goldEmeraldNecklaceCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.goldEmeraldNecklaceCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.goldEmeraldNecklaceImg img {
    width: 225px;
    border: 2px solid #fff;
}
/* gold emerald necklace */

/* silver ruby heart necklace */
.silverRubyHeartNecklaceCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.silverRubyHeartNecklaceCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.silverRubyHeartNecklaceImg img {
    width: 508px;
    border: 2px solid #fff;
}
/* silver ruby heart necklace */

/* blue sapphire topaz ring */
.blueSapphireTopazRingCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.blueSapphireTopazRingCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.blueSapphireTopazRingImg img {
    width: 509px;
    border: 2px solid #fff;
}
/* blue sapphire topaz ring */

/* peridot birthstone ring */
.peridotBirthstoneRingCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.peridotBirthstoneRingCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.peridotBirthstoneRingImg img {
    width: 510px;
    border: 2px solid #fff;
}
/* peridot birthstone ring */

/* rose gold ring */
.roseGoldRingCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.roseGoldRingCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.roseGoldRingImg img {
    width: 541px;
    border: 2px solid #fff;
}
/* rose gold ring */

/* pink bag */
.pinkBagCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.pinkBagCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.pinkBagImg img {
    width: 258px;
    border: 2px solid #fff;
}
/* pink bag */

/* red bag */
.redBagCont {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.redBagCont h3 {
    color: #000;
    background-color: #f9e4bc5c;
    width: 100%;
    margin-top: 5%;
    padding: 2% 0%;
    border: 2px solid #fff
}

.redBagImg img {
    width: 288px;
    border: 2px solid #fff;
}
/* red bag */
/* women accessories */

/* footer */
footer {
    display: flex;
    justify-content: space-between;
    background-color: #f9e4bc5c;
    border-top: 2px solid #fff;
    font-size: 0.9rem;
    letter-spacing: 0.5rem;
}

footer a {
    color: #000;
    text-decoration: none;
}

footer a:hover {
    text-decoration: underline;
}

.footerContLeft {
    margin: 0% 0% 0% 1%;
    padding: 0.5% 1%;
}

.footerContRight {
    margin: 0% 1% 0% 0%;
    padding: 0.5% 1%;
}
/* footer */